html {
    scroll-behavior: smooth;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__link {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin-left: 50px;
    column-gap: 30px;
    font-family: 'Raleway', sans-serif;
    text-underline-offset: 3px;
    letter-spacing: 0.3px;
}

.header__link_active {
  text-decoration: none;
}

.without_marker {
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__menu {
    width: 450px;
}

.address {
    width: 240px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

.header__address {
    text-underline-offset: 3px;
    margin-top: 2px;
}

.header__logo-image {
    position: relative;
    box-sizing: border-box;
    display: flex;
    margin: 92px 188px 96px 30px;
    width: 148px;
    height: 105px;
    top: 2px;
    left: 0px;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: url("../images/cover.jpg");
    width: 1100px;
    min-height: 757px;
    background-position: center;
    background-size: cover;
}

.text-overlay {
    position: relative;
    margin: 165px 50px 106px 50px;
    color: white;
    font-weight: 700;
    font-size: 97px;
    display: flex;
    flex-direction: column;
} 

.word_left {
    display: flex;
    letter-spacing: 34px;
    justify-content: start;
}

.word_center {
    display: flex;
    width: 1000px;
    letter-spacing: 25px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
}

.word_right {
    display: flex;
    width: 1000px;
    margin-top: 20px;
    letter-spacing: 30px;
    margin-left: 27px;
    justify-content: end;
}

.cover__description {
    display: flex;
    flex-direction: row;
}

.cover__description-text {
    position: relative;
    margin: 0px 0px 50px 50px;
    color: white;
    display: flex;
    width: 637px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    word-spacing: 15.5px;
    font-size: 22px;
    font-family: Raleway,  sans-serif;
    font-weight: 100;
    align-items: center;
}

.bet-button {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin: 0px 50px 50px 107px;
    width: 256px;
    min-height: 51px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 22px;
    font-family: 'Raleway',  sans-serif;
    font-weight: 500;
}

.lots {
    margin: 180px 24px 120px;
}

.lots__heading {
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    flex-direction: row;
    justify-content: space-between;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card_type {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 334px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color:#fff;
}

.card__title {
    position: relative;
    display: flex;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: 0.09px;
}

.card__text {
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0.05px;
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 2px;
    font-size: 20px;
    letter-spacing: 0.1px;
    text-underline-offset: 4px;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about__logo {
    box-sizing: border-box;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 71px;
    margin-right: 72px;
    background-color: black;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    max-width: 100%;
    margin: 137px 0px 13px 0px;
}

.about_title {
    max-width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    word-spacing: -2.5px;
    margin: 0px 402px 100px 0px;
}

.about_text {
    display: flex;
    flex-wrap: wrap;
    max-width: 693px;
    font-size: 20px;
    font-weight: 100;
    margin-right: 5px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 82px;
    margin-top: 180px;
}

.footer__address {
    line-height: 25px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}